<%- include('./partials/header') -%>

<div id='div1'>
    <h4>
        Shorten It! </h5>
        <form method="POST" action='/api/shorturl/new'>
            <div class="row">
                <div class="input-field col s12">
                    
                    <input name="url" class="materialize-textarea"></textarea>
    
                </div>
                <button type="submit" class='xBtn'> Shorten </button>
    
            </div>
        </form>
        
        
   
</div>


<%- include('./partials/header') -%>

